* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#nav {
  height: 70px;
}

header {
  height: 240px;
}

footer {
  height: 300px;
}

.container {
  max-width: 960px;
}

#map-container {
  height: 100%;
  margin: auto;
  overflow: hidden;
}

#vis1, #vis2 {
  min-height: 100px;
  max-width: 640px;
  margin: 0 auto;
}

.vis {
  margin-top: 20px;
  margin-bottom: 40px;
}