body {
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Mercury Text G1 A", "Mercury Text G1 B", "Georgia", "Times New Roman", "Times", sans-serif;
    min-height: 3260px;
}

#vis1 {
    width: 80%;
    margin: 0px auto;
}
#vis2 {
    width: 80%;
    margin: 0px auto;
}