/*
  7E0206
  CB181D
  D4D12E
  036198
  09537E
*/

body {
  background-color: #fb6a4a;
  font-family: Helvetica;
}

header {
  background-color: #cb181d;
}

h1 {
  color: white;
  font-size: 40px;
  margin: 0;
  padding-top: 60px;
  text-align: center;
}

footer {
  background-color: #fee5d9;
  color: black;
}

p {
  font-size: 16px;
}

.container {
  background-color: white;
}

.container > p {
  padding-left: 10px;
  padding-right: 10px;
}

.container > p:first-of-type {
  padding-top: 20px;
}

.footer {
  background-color: transparent;
  font-size: xx-small;
  padding-top: 100px;
}

.footer > p {
  color: #323232;
  margin-bottom: 0;
}

.twitter-tweet {
  margin: auto;
}

.maptitle {
	fill: #cb181d;
	font: xx-large "Lucida Grande", Lucida, Verdana, sans-serif;
	font-weight: bold;
}

.tick line {
  opacity: 0.2;
}

.axis-label {
	fill: #cb181d;
	font: x-small "Lucida Grande", Lucida, Verdana, sans-serif;
}

.d3-tip {
  line-height: 1;
  padding: 10px;
  background: #cb181d;
  /*
  background: white;
  border-color: #cb181d;
  border-width: 3px;
  border-radius: 4px;
  */
  color: #fff;
  border-radius: 4px;
  font: x-small "Lucida Grande", Lucida, Verdana, sans-serif;
}   

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #cb181d;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

#tip-title {
	font-weight: bold;
	font-size: small;
}

#vis1 {
}

#vis2 {
}

.arc path {
  stroke: #fff;
  stroke-width: 5px;
}

.pie-percent {
  font-size: 60px;
  font-weight: bolder;
  color: #09537E;
}

.pie-label {
  font-size: 16px;
}

.tick text {
  font-size: 16px;
}

.bar-label {
  font-size: 16px;
}